<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Housemanager"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HouseCheckViewActivity"/>
        <activity android:name=".ContractViewActivity"/>
        <activity android:name=".AdminActivity"/>
        <activity android:name=".EmployerActivity"/>
        <activity android:name=".RegistrationActivity"/>
        <activity android:name=".RegistrationActivity2"/>
        <activity android:name=".HouseCActivity"/>
        <activity android:name=".HouseCActivity2"/>
        <activity android:name=".HouseMActivity"/>
        <activity android:name=".HouseMActivity1"/>
        <activity android:name=".HouseMActivity2"/>
        <activity android:name=".HouseRActivity"/>
        <activity android:name=".HouseRActivity2"/>
        <activity android:name=".HouseUActivity"/>
        <activity android:name=".HouseUActivity1"/>
        <activity android:name=".PersonActivity"/>
        <activity android:name=".PersonActivity2"/>
    </application>
</manifest>